# Port to run the server on
PORT=5000

# MongoDB Connection String
MONGODB_URI=mongodb://127.0.0.1:27017/woodasa

# Client URL (for CORS)
CLIENT_URL=http://localhost:5173

# JWT secret key
JWT_SECRET=YOUR_JWT_SECRET_KEY

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# PayPal Config
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=

# Uploadthing Config
UPLOADTHING_TOKEN=
